<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lizhen.crm.kernel.dao.MgClassChapterMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lizhen.crm.api.entity2.MgClassChapter" id="mgClassChapterMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="lessonId" column="lesson_id"/>
        <result property="remarks" column="remarks"/>
        <result property="status" column="status"/>
        <result property="videoUrl" column="video_url"/>
        <result property="videoTime" column="video_time"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>
    <select id="getVideoPrefix" resultType="com.lizhen.crm.api.entity.VideoPrefix">
        select * from mg_video_prefix
    </select>

</mapper>