<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizhen.crm.kernel.dao.OperatorBaseMapper">
  <resultMap id="BaseResultMap" type="com.lizhen.crm.api.entity.OperatorBase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

    <insert id="save" parameterType="com.lizhen.crm.api.entity.OperatorBase" useGeneratedKeys="true" keyProperty="id">
		insert into mc_operator
		(
			`merchant_id`,
			`operator_name`,
			`account`,
			`password`,
			`mobile`,
			`remark`,
			`create_date`
		)
		values
		(
			#{merchantId},
			#{operatorName},
			#{account},
			#{password},
			#{mobile},
			#{remark},
			now()
		)
	</insert>

    <update id="update" parameterType="com.lizhen.crm.api.entity.OperatorBase">
        update mc_operator
        <set>
            <if test="operatorName != null">`operator_name` = #{operatorName}, </if>
            <if test="account != null">`account` = #{account}, </if>
            <if test="password != null">`password` = #{password}, </if>
            <if test="mobile != null">`mobile` = #{mobile}, </if>
            <if test="remark != null">`remark` = #{remark}, </if>
            `update_date` = now(),
        </set>
        where merchant_id = #{id}
    </update>

</mapper>